################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearnBlazor/.vs/LearnBlazor
/.vs
/LearnBlazor/bin/Debug/net8.0
*.dll
/LearnBlazor/obj/Debug/net8.0/scopedcss
/LearnBlazor/obj/Debug/net8.0/staticwebassets
*.exe
/LearnBlazor/obj/Debug/net8.0/LearnBlazor.AssemblyInfo.cs
/LearnBlazor/obj/Debug/net8.0/LearnBlazor.AssemblyInfoInputs.cache
/LearnBlazor/obj/Debug/net8.0/LearnBlazor.AssemblyInfo.cs
/LearnBlazor/obj/Debug/net8.0/LearnBlazor.AssemblyInfoInputs.cache
/LearnBlazor/obj/Debug/net8.0
/LearnBlazor/.vs/ProjectEvaluation
/LearnBlazor/obj/Debug/net8.0/LearnBlazor.GeneratedMSBuildEditorConfig.editorconfig
/SampleAppSSR/.vs/SampleAppSSR
/SampleAppSSR/bin/Debug/net8.0
/SampleAppSSR/obj
/sampleAppServerGlobal
/SampleAppServerLocal/.vs
/SampleAppServerLocal/bin/Debug/net8.0
/SampleAppServerLocal/obj
